* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-image: url("../sea2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.formName {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.descriptionText {
    font-size: small;
    padding: 25px 0;
}

.contactForm {
    box-shadow: 0 0 11px 6px rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 830px;
    flex-direction: column;
    padding: 40px 35px 40px 20px;
    font-family: sans-serif;
}

.formName, .descriptionText, .inputLabel > label, hr {
    margin-left: 20px;
}

.inputDiv, .divWrap, .contactForm, .inputItem, .phone > *, body {
    display: flex;
}

.inputDiv, .divWrap, .contactForm {
    justify-content: space-between;
}

.inputDiv, .divWrap {
    align-items: center;
    flex-wrap: wrap;
}

.submitButton {
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 6px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid white;
    font-weight: bolder;
    padding: 0.8em 0;
    color: white;
    min-width: 77.5%;
}

.inputDiv {
    --widthInputDiv: 80%;
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
}

.inputDiv > *, .submitButton, .contactForm {
    font-size: smaller;
}

.inputDiv > * {
    width: 100%;
}

.inputItem::placeholder {
    color: #d9d9d9;
}

.inputItem, .selectItem {
    padding: 0.7em 1em;
}

.selectItem {
    background: white;
}

.inputItem, .selectItem, .textareaItem, .selectItem option {
    margin: 6px 0;
    color: black;
}

.phone > :first-child, .phone > :nth-child(2) {
    min-width: 176px;
    width: 176px;
}

.phone > :last-child {
    width: 215px;
    min-width: 200px;
}

hr {
    box-shadow: inset 0 0 8px 6px rgba(0, 0, 0, 1);
}

.inputTextarea {
    align-self: baseline;
    margin-top: 1.3em;
}

.inputLabel {
    max-width: 130px;
    flex-basis: 100%;
}

.userName > .inputItem {
    min-width: 200px;
    width: 294px;
}

.inputItem, .selectItem, .textareaItem {
    border: transparent;
    border-left: 20px solid transparent;
    background-clip: padding-box;
}

.userName > .inputItem, .phone > * {
    flex-grow: 10;
}